# variable_name=value

In [5]:
# Example 1: INTEGER VARIABLE 

age=25 # Here ,'age' is a variable ,and it stores an integer value 25.
print(age)

25

In [7]:
# Example 2: string variable 
name="Alice"  # 'name' is a variable, storing a string "Alice"
print(name)

Alice

In [9]:
# Example 3 : Float Variable 
price=19.99 # 'price' is a variable,storing a floating-point number
print(price)

19.99

In [11]:
# Example 4: Boolean variable 
is_active=True # 'is_active ' is a variable,storing a Boolean value 
print(is_active)

True

# 1.Storing and printing a value

In [ ]:
#storing the value 10 in a variable called 'x'
x=10
print(x) #printing the value of 'x'

# 2.using variables in Expressions

In [23]:
# using variables in expressions
# Assigning values to variables
a=5
b=3

# Adding 2 variables and storing the result in 'result' 
result = a+b

# printing the result 

print(result)

8

# 3.Changing the value of a variable

In [25]:
# Initial value
score = 50
print(score)

50

In [27]:
# changing the value of 'score'
score =100
print(score)

100

# 4 concatenating strings

In [73]:
#  Assigning values to variables
first_name = "John"
last_name= "Doe"

# concatinating strings and storing in a new variable 

full_name= first_name + " " +last_name
print(full_name)

John Doe

# 5 using variables in a calculation

In [75]:
# Assigning values to variables 

length =10
width =5

# calculating the area of a rectangle

area=length * width
print(area)

50

# Reassigning values to variables

In [77]:
x =10 # Intial value of x
print(x)

10

In [79]:
# Reassigning the value of x
x=20
print(x)

20