# print is use for answer

In [1]:
a=10
b=20
a
b

20

In [3]:
a=10
b=20
print(a)
print(b)

10
20

In [5]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [7]:
num1=20
num2=30
add=num1+num2
print(add)

50

# print result with string

In [13]:
num1=20
num2=30
add=num1+num2
print('The addition of',num1,'and',num2,'is=',add)

The addition of 20 and 30 is= 50

In [15]:
name='python'
age='20'
city='hyd'
# hellow my name is python and i am 10 year old from hyderabad

In [19]:
print('my name is ',name,'and i am',age,'years old from,',city)

my name is  python and i am 20 years old from, hyd

# print format method #

In [25]:
num1=20
num2=30
add=num1+num2
print('The addition of {} and {} is {}'.format(num1,num2,add))

The addition of 20 and 30 is 50

. First decide  how the print statement should be
. like: the addition of 20 and 20 is 50
. then replace the variable position with curly braceses {}
. then apply .format(value1,value2,.........val-n method

In [33]:
name='python'
age=20
city='hyd'
print('Hello my name is {}, and i am {} years old from {} '.format(name,age,city))

Hello my name is python, and i am 20 years old from hyd

In [45]:
num1=100
num2=25
num3=333
avg=(num1+num2+num3)/3 # or we can use avg=round(num1+num2+num3)/3,2)
avg1=round((num1+num2+num3)/3,2)
# The average of num1,num3,num3 is = avg
print('The average of {},{}, and {} is = {} or {}'.format(num1,num2,num3,avg,avg1))  #here we can use round(avg,2) also

The average of 100,25, and 333 is = 152.66666666666666 or 152.67

In [47]:
round(avg,2) # round of till 2 digits after decimal

152.67

More short format method(f string method)
. variable should be in curly braces
. and write everything inside quots''
. at starting simply add f

In [53]:
num1=20
num2=30
add=num1+num2
print(f'The addition of {num1} and {num2} is = {add}') # always prefer this

The addition of 20 and 30 is = 50

In [57]:
name='python'
age=20
city='hyd'  #hellow my name is python and i am 10 year old from hyderabad
print(f'Helow my name is {name} and I am {age} years old from {city}')

Helow my name is python and I am 20 years old from hyd

In [63]:
num1=100
num2=25
num3=333
avg=round((num1+num2+num3)/3,2) # or we can use avg =round(num1+num2+num3/3,2)
# the avargae of num1,num2,num23 is =avg


print(f'The avarage of {num1},{num2} and {num3} is = {avg}')

The avarage of 100,25 and 333 is = 152.67

# Lets do all to gether #

In [71]:
num1=10
num2=30
add=num1+num2

print('The addition of ',num1,'and',num2,'is=',add)
print('The addition of  {} and {} is= {}'.format(num1,num2,add))
print(f'The addition of  {num1} and {num2} is ={add}')

The addition of  10 and 30 is= 40
The addition of  10 and 30 is= 40
The addition of  10 and 30 is =40

# End statement

In [73]:
print('Hello')   # 1st statement
print('Good morning') # 2nd statement

# I want to print as: Hellow  Good morning

Hello
Good morning

# Here we use end statement that join line from end of 1 string to starting of other string

In [75]:
print('Hello', end=' ')   # 1st statement
print('Good morning') # 2nd statement

Hello Good morning

# Separator

.Here 1 print statement only we use
.Inside 1 print statement we have multiple values
. we want to sepearate these multiple values with anything

In [77]:
print('hello','hai','how are you',sep='.......>')

hello.......>hai.......>how are you

In [79]:
print('hello','hai','how are you',sep='&')

hello&hai&how are you

In [81]:
print('hello','hai','how are you',sep='@')

hello@hai@how are you

In [83]:
print('hello','hai','how are you',sep=' ')

hello hai how are you

In [85]:
print(3,'.') # . is far from 3 so here we will use sep method

3 .

In [87]:
print(3,'.',sep='') # see now space setteled( also use to remove space between words)

3.

In [97]:
print(1,2,end=' ')
print(3,'.',sep='')
#will print 1 2 3.

1 2 3.