# 24th Jan class #

# In python we have below
INT --value without decimal
float---value with decimal ,in the float only e letter is allowed.
bool----True or False
complex--(a+bj or a+bJ) ( a is real part and b is an imaginary part , j is a square root of -1)
string--Text which denotes with ''(single quotes) or " " (double quotes)or ''' ''' (triple quotes) or ''' ''' (multiline comments)
Type casting

# INT #

In [1]:
i=2 # variable is i and the value without decimal is an int 
i

2

In [3]:
type(i) # system automatically understands its a integer data type.

int

# FLOAT #

In [5]:
f=110.5 # value with decimal
f

110.5

In [7]:
type(f)

float

In [9]:
f1=1e0  # e0=1
f1

1.0

In [17]:
f2=3e1 # e1=10   3*10
f2

30.0

In [15]:
f3=3e2 # e2=100(e2=10 square)   3*100
f3

300.0

In [19]:
f4=3e3 # e3=1000  3*1000
f4

3000.0

# BOOLEAN #

In [23]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [26]:
b=true # t is lower case it should be upper case
b

NameError: name 'true' is not defined

In [28]:
b1=True
b1

True

In [30]:
b2=False
b2

False

In [34]:
type(b2)  # type,print are inbuild functions

bool

In [38]:
True +True+False-True  # True=1,False=0 (1+1+0-1) BODMAS

1

In [40]:
True*False

0

In [42]:
print(b1)
print(b2)

True
False

In [44]:
b1+b2 (1+0) # using variables less time consumtion instead of true+false we give b1+b2

1

In [46]:
b1-b2

1

In [48]:
b2-b2

0

In [50]:
b1-b1

0

# COMPLEX #

# complex format is a + bj 
only j letter is allowed ,small or capital both are accepted 
a - real part
b - imaginary part
j - is square root of -1 

In any arithmetic calculations,any math operations or research these datatype are used.
this datatype only available in python not in java #

In [52]:
c=10+20j
c

(10+20j)

In [54]:
type(c)

complex

****Tricks to remember ****

1) Any loops functions which ends with : by default 4 spaces this is called indentation
2) function always ends with ()
3) Every time we call with dot .

In [59]:
c.real

10.0

In [61]:
c.imag  # inbuild function for imaginary is imag

20.0

In [63]:
c1=5+5j
c1

(5+5j)

In [65]:
c+c1  # real part added with real part ,imaginary part added with imaginary part

(15+25j)

In [67]:
c-c1

(5+15j)

In [69]:
print(c)
print(c1)

(10+20j)
(5+5j)

In [71]:
c*c1   # the resultset shoud be 50+150j but the result set is  -50+150j
       # 10+20j is square root of -1,when you apply square functions values differs/shuffels.If you remove j the resultset will be as expected

(-50+150j)

In [73]:
c2=10+2.5J # upper case of J allowed and float values allowed
c2

(10+2.5j)

In [79]:
c3=10+ -2.5J
c3

(10-2.5j)

In [81]:
c4=2.0+34j
c4

(2+34j)

# STRING #

In [99]:
S='Generative Ai & llm model is great carrer ahead and also it is research domain.' # This is unstraucted data
S

'Generative Ai & llm model is great carrer ahead and also it is research domain.'

In [97]:
S1="Generative Ai & llm model is great carrer ahead and also it is research domain."
S1

'Generative Ai & llm model is great carrer ahead and also it is research domain.'

In [95]:
S2='''Generative Ai & llm model is great carrer ahead and also it is research domain.'''
S2

'Generative Ai & llm model is great carrer ahead and also it is research domain.'

In [103]:
S3='''Generative Ai & llm model is great carrer ahead.
        and also it is research domain.'''
S3

'Generative Ai & llm model is great carrer ahead.\n        and also it is research domain.'

# TYPE CASTING #

*********TYPE CASTING OR TYPE CONVERTION *******

we are converting all other data type to int, float , complex, bool or string


while we do or in  ML model or data conversions sometimes.
lets assume we mention a petrol price decimal is required or not  
how to convert Integer to float ,you need to know type casting

# class notes
1) integer is a data type.
2) when i pass family with open and closed braces family(dad,mom),family s called function ,dad and   mom are called argument or parameter 
family( dad, mom) -- dad, mom ---argument or parameter
its a family function with 2 arguments
3)fam() -- fam function with 0 argument 
4)family1( d, m, s, d) -- 4 parameter or 4 arguments

llm model or llama3model ---trained with 405 billion parameters or arguments
you cannot built llm model in cpu


will explain later ml,nlp,dp connections
	
when your dad constructs a house there will be many parameters right
house(labour,daily wage,bricks,sand,cement,etc...)

# Type casting  notes
------------------------------------------------------------------------------
--convert one data type to other data type is called Type casting

---while casting from other datatype to integer 
   a)complex we cannot cast from complex to int 
   b)string cannot be casted if its in words (ten) but it can be casted if its the   digit'10'
   c) It wont take 2 arguments

---while casting from other datatype to complex

----while type casting 
int & float -- we cannot type cast if datatype is complex but rest of things it is possbile

# a) lets convert  other datatype to INT


# conclution: While converting other datatypes to INT
            1) 2 float arguments cannot be converted in to INT
            2) we cannot convert or type cast from complex to INT & rest of the type casting possible(string should be a number)

            3) we cannot convert text in to

In [5]:
int(2.3) # Passed a float argument and asking python to convert float to INT

2

In [7]:
int(2.7)

2

In [9]:
int(2.3,2.7)  # passed 2 float arguments ,we cannot pass 2 float arguments
              # while casting 1 datatype to other datatype you cannot pass more than 1 argument

TypeError: 'float' object cannot be interpreted as an integer

In [11]:
int(True) # convert Bollean to int

1

In [13]:
int(False)

0

In [15]:
int(1+2j) # we cannot convert the complex to INT

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [17]:
int('ten') # we cannot convert the text to int

ValueError: invalid literal for int() with base 10: 'ten'

In [21]:
int('10')

10

# b) lets convert other data types to float

In [ ]:
# conclution: While converting other datatypes to FLOAT
                 1) 2 INT arguments cannot be converted in to Float
                 2) we cannot convert or type cast from complex to Float & rest of the type casting possible(string should be a number)
                 3) we cannot convert text in to FLOAT

In [23]:
float(13)

13.0

In [25]:
float(True)

1.0

In [27]:
float(13,14) # we cannot pass 2 arguments,  
             # while casting 1 datatype to other datatype you cannot pass more than 1 argument

TypeError: float expected at most 1 argument, got 2

In [29]:
float(1+2j) # we cannot convert the complex to float

TypeError: float() argument must be a string or a real number, not 'complex'

In [31]:
float('ten')  # we cannot convert the text to float

ValueError: could not convert string to float: 'ten'

In [33]:
float('10')

10.0

# c) Lets convert other data types to complex

# conclution: While converting other datatypes to Complex
            1)we cannot pass 3  arguments (complex has 2 values real and imaginary,it exceeds   the rule)which cannot be converted in to Float
            2) TypeError: complex() can't take second arg if first is a string

In [35]:
complex(10)

(10+0j)

In [37]:
complex('10')

(10+0j)

In [39]:
complex(20,30)

(20+30j)

In [41]:
complex(10,20,30)  # complex will have only 2 parts real and imaginary but we passed 3 arguments,so we will get error

TypeError: complex() takes at most 2 arguments (3 given)

In [1]:
complex('10','20') #complex() can't take second arg if first is a string

TypeError: complex() can't take second arg if first is a string

In [1]:
complex(1.1,2.1)

(1.1+2.1j)

In [3]:
complex(True,False)

(1+0j)

In [5]:
complex(False,True)    # (0+1j =1j)

1j

# d) lets convert other data types to bool

# conclution: While converting other datatypes to BOOL
1) Only 1 argument is accepted not 2 (TypeError: bool expected at most 1 argument, got 2)
NOTES: other datatypes can be converted in to bool.If its non zero true,if its zero false.
we can typecast from all other datatypes to boolean

In [7]:
bool(1)

True

In [9]:
bool(0)

False

In [11]:
bool(1,0)  # Only 1 argument is accepted not 2 (TypeError: bool expected at most 1 argument, got 2)

TypeError: bool expected at most 1 argument, got 2

In [13]:
bool(2.3)

True

In [15]:
bool()

False

In [17]:
bool('nit')

True

In [19]:
bool(1+2j)

True

In [25]:
print(bool(9))   #int to bool
print(bool(9.9)) #float to bool
print(bool('9')) #string to bool
print(bool(9+9j))#complex to bool
print(bool(_))   #underscore(non zero) to bool
print(bool())   #space(zero)  to bool

True
True
True
True
True
False

In [29]:
print(bool())

False

In [31]:
print(bool(0))

False

# e) lets convert other datatypes to string.

# e) converting int ,float ,boolean and complex to srting.
     we can type cast from all other datatype to string.

In [33]:
print(str(10))
print(str(10.10))
print(str(True))
print(str(1 + 2j))

10
10.1
True
(1+2j)

# USING PRINT COMMAND IT WILL GIVE ALL RESULT SET IF U EXECUTE ALL THE COMMANDS AT ONCE EXAMPLE IS ABOVE,IF YOU DONT USE THE PRINT IT WILL ONLY GIVE YOU LAST COMMAND OUTPUT EXAMPLE IS BELOW

In [35]:
str(10)
str(10.10)
str(True)
str(1 + 2j)

'(1+2j)'

In [37]:
str(2)  # convert int to string

'2'

In [39]:
str(2.2) # convert float to string

'2.2'

In [41]:
str(True) # convert bool to string

'True'

In [47]:
str(10+20j)  # convert complex to string

'(10+20j)'

In [43]:
str(False)

'False'

In [45]:
True+True   # True system considers as True only
            # When we assign true with operator( +,-,* and /) then the system understand True becomes 1 & False become 0

2